.core{
  width: 100%;
  height: 100%;
}
.detailed-table{
  width: 60%;
  border: solid 1px;
  margin: auto;
  height: 350px;
}


.detailed-table td{
  width: 200px;
}
.list{
  width: 20%;
  margin: auto;
}
.list-btn{
  width: 200px;
  background: #ffff00;
  height: 50px;
  margin-top: 20px;
  font-size: 25px;
  cursor: pointer;
}
