<div class="core">
  <table class="detailed-table">
    <tr >
      <th>Type</th>
      <td>{{surveyList_0.type}}</td>
      <td>{{surveyList_1.type}}</td>
      <td>{{surveyList_2.type}}</td>


    </tr>
    <tr>
      <th>Label</th>
      <td>{{surveyList_0.label}}</td>
      <td>{{surveyList_1.label}}</td>
      <td>{{surveyList_2.label}}</td>
    </tr>
    <tr>

      <th>Resulat</th>

      <td>
        <div>Product 1 : {{surveyResult_0['Product 1']}}</div>
        <div>Product 2 : {{surveyResult_0['Product 2']}}</div>
        <div>Product 3 : {{surveyResult_0['Product 3']}}</div>
        <div>Product 4 : {{surveyResult_0['Product 4']}}</div>
        <div>Product 5 : {{surveyResult_0['Product 5']}}</div>
        <div>Product 6 : {{surveyResult_0['Product 6']}}</div>

      </td>
      <td>{{surveyResult_1}}</td>
      <td>
        <div *ngFor="let survey of surveyResult_2, let i = index">
          <div>{{survey}}</div>
        </div>

      </td>


    </tr>
  </table>
  <div class="list">
    <button  mat-raised-button class="list-btn" type="submit" (click)= "List()" [formControl]="listButton">LISTE</button>

  </div>

</div>




