.core{
  width: 100%;
  height: 100%;
}
.list-table{
  width: 40%;
  border: solid 1px;
  margin: auto;
  text-align: center;

}

.search{
  width: 40%;
  margin: auto;
  text-align: center;
  margin-bottom: 20px;
  height: 80px;
}
.input-search{
  height: 40px;
  margin-top: 20px;
  width: 200px;
  font-size: 20px;
  text-align: center;
}
.list-table th{
  height: 40px;
  background: #ffff00;
}
.list-table td{
  height: 40px;
  cursor: pointer;
}
