<div class="core">
  <div class="search">
    <input [formControl]="input"placeholder="prénom, code" class="input-search"/>
  </div>
  <table class="list-table">

    <tr>
      <th>Prénom</th>
      <th>Code</th>
    </tr>
    <tr *ngFor="let survey of surveys" (click)="selectLigne(survey.code)">
      <td>{{survey.name}}</td>
      <td>{{survey.code}}</td>
    </tr>
  </table>
</div>

