* {
  padding: 0px;
  margin: 0px;
  font-family: Roboto;

}

body {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background: #37363e;
}
html{
  width: 100%;
  height: 100%;
}
